body {
    font-family:'Bebas Neue';
    background-color: #000000;
    margin: 20px;
}

.container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    align-self: center;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    font-size: 18px;
    color: #4caf50;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}
        a:hover {
            color: #45a049;
        }