body {
    background-image:url(BG3.gif);
    background-color:#000000;
    color: #FFF;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 1.42857143;
    background-size: cover;
    overflow-x: hidden;
}
.div1 {
align-content: center;   
}

 a {
            font-size: 28px;
            color: #4caf50;
            text-decoration: none;
            display: block;
            margin-top: 20px;
        }
        a:hover {
            color: #45a049;
        }