body {
    font-family:'Bebas Neue';
    background-color: #000000;
    margin: 20px;
}

.container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    align-self: center;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #008CBA;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}